h1{
  margin-bottom: 100px;
}
.sec1{
  /* text-align: center */
  margin-bottom: 20px;
}

i{
  cursor: pointer;
  display: inline-block;
  margin:0;
}

img {
  display: inline-block;
  width: 33%;
  margin-left: 5px;
}
.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}
#imgLeftBtn{
  margin-right:10px;
}

#imgRightBtn{
  margin-left:10px;
}

.bg {
  background-image: ;
  border: 10px solid #FFE750;
  height: 100%;
}
.wrapper{
  /* margin-top : 100px; */
  width:700px;
  position:absolute;
  top: 30px; 
  left: 50%;
  transform:translateX(-50%);  
}

button{
  display: inline-block;
}

.ui{
  display: block;
}

.fields{
  margin-bottom: 5px;
  display: block;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#buttons{
  display: flex;
  justify-content: center;

}